.vs/twin_cobra/FileContentIndex/0c95caa4-46cf-47f0-8f64-f74ce7981168.vsidx
.vs/twin_cobra/v17/.suo
.vs/twin_cobra/v17/Browse.VC.db
.vs/twin_cobra/v17/DocumentLayout.backup.json
.vs/twin_cobra/v17/DocumentLayout.json
.vs/twin_cobra/v17/Solution.VC.db
.vs/twin_cobra/v17/ipch/AutoPCH/74d6df4ef8810a3f/BACKGROUND.ipch
